* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
::selection {
    color: rgb(11, 0, 48);
    background: rgb(0, 247, 255);}
body {
    background-color: rgba(238, 234, 234, 0.603);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}   
header {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(0, 52, 65);
    text-align: center;
}
header .logo {
    height: 4rem;
    width: 4.2rem;
    border-radius: 50%;
    margin-left: 1%;
    margin-right: 1%;
}
header > h1 {
    font-size: 1.5rem;
    color: white;
}
header .navigation {
    display: flex;
    flex-direction: row;
}
header .navigation{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
header .navigation li {
    font-size: 20px;
    list-style: none;
    margin-left: 20px;
    padding: 13px 20px;
}
header .navigation li:hover{
    background: rgba(0, 139, 139, 0.74);
    cursor: pointer;
    border-radius: 6px;
}
header .navigation li a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 400;
    border-radius: 3px;
}
.code-2,.code-3,.code-4,.code-5,.code-6{
    display: none;
}

iframe{
    width: 100%;
    height: 700px;
}
.container,iframe> html{
    overflow-y: hidden;
}
#method{
    border: 1px solid black;
    display: block;
    margin: 1% auto 2% auto;
    font-size: 1.2rem;
    padding: 0.2% 0.6%;
    border-radius: 5px;
    background-color: black;
    color: white;
}
@media screen and (max-width: 768px) {
    header > h1 {
        font-size: 0.8rem;
    }
    header .navigation li  {
        font-size: 10px;
    }    
    header .logo {
        height: 20px;
        width: 20px;
    }
}
nav {
    font-size: 1rem;
    border-radius: 10px;
    height: auto;
    background: rgb(0, 30, 37);
    margin: 50px 20px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    font-weight: bold;
    color: honeydew;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
nav .boxq {
    transition: 0.4s ease;
    height: 100px;
    width: 115px;
    text-align: center;
    margin: 1rem;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
nav .boxq:hover {
    background: rgba(0, 255, 255, 0.589);
    color: white;
}
nav .boxq a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
}
nav .boxq a img {
    margin-bottom: 2px;
}
.exp-heading {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: bold;
}
.icon {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}
@media screen and (max-width:768px) {
    nav {
        font-size: 0.6rem;
    }
    nav .boxq {
        height: 50px;
        width: 75px;
    }
    .icon {
        height: 22.5px;
        width: 22.5px;    
    }
    .exp-heading {
        margin-top: 40px;
        font-size: 0.7rem;
    }
    
}
.container > .box {
    border: 1.5px rgba(0, 12, 12, 0.383) solid;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.exp .container .box .title{
    margin-top: 10px;
    margin-left: 5%;
    font-weight: bold;
}
.container .box .desc {
    line-height: 1.8;
    text-decoration: none;
    justify-content: center;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: 2%;
}
.language-cpp{
    height: auto;
    width: 80vw;
}
.obsv-image{
    height: 400px;
    width: 600px;
}
@media screen and (max-width:708px) {
  
    .container > .box {
        font-size: 0.7rem;
    }
    .python{
        width: 250px;
    }

}
.cont {
    display: flex;
}

.det {
    display: none;
}

.tblDt {
    opacity: 0;
}
.mth{
    background-color: rgb(0, 62, 62);
    width: 15%;
    color: white;
    padding: 5px 10px;
    border-radius: 0px 20px 0px 20px;
    margin-top: 20px;
}
.instruc, .detl, .detl-1,.obs {
    text-align: center;
    margin: 1.5%;
}
.det{
    text-align: center;
    font-size: 1.2rem;
    margin-top: -1%;
}
.detl {
    font-size: 1.2rem;
}
.nxt,.updt,.dlt{
    margin: 2% auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.5% 1%;
    font-size: 1.5rem;
    border: 2px 2px 0px 0px solid black;
    cursor: pointer;
    background-color: #2196f3;
    color: white;

    border-radius: 12px;
min-width: 120px;
}

.dlt{
    margin:2% auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.5% 1%;
    font-size: 1.5rem;
    border: 2px 2px 0px 0px solid black;
    cursor: pointer;
    background-color: #2196f3;
    color: white;
}

.update{
    margin: 2% auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0.5% 1%;
    font-size: 1.5rem;
    border: 2px 2px 0px 0px solid black;
    cursor: pointer;
    background-color: #2196f3;
    color: white;
}

.cont {
    justify-content: center;
    align-items: center;
}

.table-anim {
    /* border: 10px solid #2196f3; */
    box-shadow: 0 0 0 0px black,0 0 0 10px #2196f3;
    z-index: -1;
    margin: 2% auto;
    text-align: center;
    width: 50%;
    border-collapse: collapse;
}

.table-anim tr>td {
    padding: 0.5% 0.1%;
    border: 2px solid black;
    z-index: 100;
}
.descl{
    padding: 0 32px;
}

/* addcontainer  ke liye css  */

.container_add h3{
    padding: 45px 0  0  62px;
}
.observ{
    padding: 30px;
}

/* container delete ke liye css */

.container_delete h3{
    padding: 45px 0  0  62px;
}

/* container update ke liye css */
.container-update b,h4{
    padding: 12px 0  0  62px;
    font-size: larger;
}
.container-update{
    padding-bottom: 4% ;
}


/* aryan quzz css */
#quiz1{
    padding-top: 5px;
     color: #012d37;
     text-align: center;
     font-size: 50px;
     text-shadow: 2px 2px 5px rgb(3, 54, 70);
     
}
#q1{
    color: #2196f3;
}

.quiz_head{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#ques{
  padding: 5px 8px;
    border-radius: 10px;
    box-shadow: 0px 0px  4px 0 rgb(0, 60, 128);
    margin: 0;
    color: rgb(2, 36, 68);
}
.opts{
    display: inline-flex;
    flex-direction: column;
    padding-left: 40px;
    justify-content: space-between;
  
}

.wrng-ans:active{
    background: #f72626ab;
}
.rigt-ans:active{
    background: #26f737ab;
    
}
.wrng-ans,.rigt-ans:hover{
    cursor: pointer;
    user-select: none;
    transition: 0.5s ;
}
.wrng-ans,.rigt-ans{
    min-width: 150px;
    border: 1px solid rgb(97, 95, 95);
    margin: 5px 0;
    border-radius: 22px;
    padding: 5px 15px;
}

/* procedure and theory css */
.code_view{
    border: 1px dashed black;
    margin: 0 20px;
    cursor: pointer;

}

.add_theory,.del_thoery,.updt_theory h4{
    padding:10px 20px;
    
}
.add_theory,.del_thoery,.updt_theory p{
    padding-left: 20px;
    
}
.add_theory,.del_thoery,.updt_theory h3{
    padding-left: 20px;
}
.desc1 ol{
    padding-left: 60px;
}
.desc1 ol li{
    padding: 5px 0;
}


 /* simulation css  */
 .main{
    display: flex;
    justify-content: space-between;
}
.input{
    position: relative;
    /* left:12%; */
    width: 40vw;
    height: 400px;
    background-color: #231c14;
    color: white;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    margin: 0 40px;

}
.output{
    position: absolute;
    /* right:20%; */
    height: 400px;
    width: 25vw;
    background-color: white;
    /* color: white; */
    /* border: 2px solid black; */
    border-radius: 5px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
}
#codearea{
    height: 100%;
    width: 100%;
    color: white;
    resize: none;
}
.label{
    text-align: center;
}

#output{
    height: 100%;
    width: 100%;
    resize: none;
}

#lb,#out{
    font-weight: bold;
}
#out{
    margin-right: 405px;
}

.btn{
    margin: 20px;
    margin-left: 60px;
    margin-top: -5px;
    background-color: #007bff;
    font-weight: 500;
    padding: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}
#btn1 {
    width: 5em;
    margin-left: 18em;
    margin-top: .5em;

}

#btn2 {
    width: 5em;
    margin-top: .1em;
    margin-left: 5em;
}

#btn3 {
    margin-top: .1em;
    margin-left: 22em;
}
button:hover{
    opacity: 0.5;
}


  /* ends here */
  .PythonCodeColab{
    padding: 5px 25px;
    margin: 25px 35px;
    box-shadow: 0 0 2px 2px rgb(139, 200, 218);
    border-radius: 22px;
    color: rgb(18, 17, 17);
    text-decoration: none;
    transition: 0.2s;
  }
  .PythonCodeColab:hover{
    color: #001eff;
    background: #d6e5f0;
  }


  /* snack tost */


  #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 30px; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }